# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Python virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
